<div class="flex justify-center">
  <div class="w-1/2">
    <form class="login-container" [formGroup]="loginForm">
      <div class="email">
        <label for="email">Email Address</label>
        <div class="sec-2">
          <input
            formControlName="email"
            type="email"
            name="email"
            placeholder="Username@gmail.com"
          />
        </div>
      </div>
      <div class="password">
        <label for="password">Password</label>
        <div class="sec-2">
          <input
            formControlName="password"
            class="pas"
            type="password"
            name="password"
            placeholder="············"
          />
        </div>
      </div>
      <button class="login">Login</button>
      <div class="footer"><span>Signup</span><span>Forgot Password?</span></div>
    </form>
  </div>
</div>
