<div
  class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
>
  <button
    type="button"
    class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
    id="user-menu-button"
    aria-expanded="false"
    [matMenuTriggerFor]="menu"
  >
    <span class="sr-only">Open user menu</span>
    <img
      class="w-8 h-8 rounded-full"
      src="../../../../assets/images/logo/logo.png"
      alt="user photo"
    />
  </button>
  <!-- Dropdown menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Mariana</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>
