<div class="m-4">
    <div class="mb-6">
      <h1 class="text-4xl font-extrabold dark:text-white text-mp-primary">Vacantes {{byClientId ? "cliente " + byClientId : ""}}</h1>
      @if (byClientId) {
        <button (click)="showAll()"
          color="basic"
          mat-mini-fab
          matTooltip="Mostrar Todas las vacantes"
          aria-label="Butón que muestra todas las vacantes">
          <mat-icon>update</mat-icon>
        </button>
      }
    </div>
    
    @if(vacancies()) {
      <shared-custom-table 
      [dataSource]="vacancies()" 
      [colums]="displayedColums"
      [mapColum]="mapColum"
      [withPaginator]="true" 
      [withSort]="true"
      [withActions]="true"
      [actionsItems]="actionsItems"
      (actionEvent)="handleActions($event)" 
      [withFilter]="true"/>
    }
    
</div>
