@if(dataSource) {

    <div>
        <div class="flex justify-between px-3" [class]="tableTopClasses()">
            @if(withFilter()) {
                <mat-form-field>
                    <mat-label>Filtrar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            } 
        
            @if(withAddButton()) {
                <div class="mb-4">
                    <button 
                        mat-raised-button
                        color="warn"
                        [matTooltip]="addButtonOptons().tooltipDescription!"
                        [matTooltipPosition]="addButtonOptons().tooltipPosition!"
                        aria-label="Button that displays a tooltip when focused or hovered over" 
                        (click)="addButtonOptons().handleFunction()">
                        <mat-icon [fontIcon]="addButtonOptons().fontIcon!"></mat-icon>
                        @if(addButtonOptons().description) {

                            {{addButtonOptons().description}}
                        }
                    </button>
                </div>
            }
    
        </div>
    
        
        <div class="mat-elevation-z8">
            <table mat-table matSort [dataSource]="dataSource">
    
                @for( colum of colums(); track $index) {
                    
                    <ng-container [matColumnDef]="colum">
                
                        @if(withSort()) {
                            <th class="text-mp-accent" mat-header-cell *matHeaderCellDef mat-sort-header> {{getMapColum(colum)}}</th>
                        } @else {
                            <th class="text-mp-accent" mat-header-cell *matHeaderCellDef>{{getMapColum(colum)}}</th>
                        }
    
                        @if(withActions() && (colum === 'actions' || colum === 'acciones') ) {
                            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                            <td class="text-mp-primary" mat-cell *matCellDef="let element">
                                <mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                                <mat-menu #menu="matMenu">
                                  @for(item of actionsItems(); track $index) {
                                    <button mat-menu-item (click)="handleAction(item.actionDescription,element)">
                                        @if(item.icon) {
                                            <mat-icon>{{item.icon}}</mat-icon>
                                        }
                                        {{item.actionDescription}}
                                    </button>
                                  }
                                    
                                </mat-menu>
                                
                            </td>
                        } @else {
                            <td class="text-mp-primary" mat-cell *matCellDef="let element"> {{element[colum]}} </td>
                        }
                        
                    </ng-container>
                    
                }
                
                
              <tr mat-header-row *matHeaderRowDef="colums()"></tr>
              <tr mat-row *matRowDef="let row; columns: colums();"></tr>
            </table>
    
            @if(withPaginator()) {
                <mat-paginator [class]="paginatorClasses()" [pageSizeOptions]="pageSizeOptions()"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            }
             
        </div>
    </div>
    
}
