@if(dataSource) {

    @if(withFilter()) {
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    } 

    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">

            @for( colum of colums(); track $index) {
                
                <ng-container [matColumnDef]="colum">
            
                    @if(withSort()) {
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{getMapColum(colum)}}</th>
                    } @else {
                        <th mat-header-cell *matHeaderCellDef>{{getMapColum(colum)}}</th>
                    }

                    @if(withActions() && (colum === 'actions' || colum === 'acciones') ) {
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                            <mat-menu #menu="matMenu">
                              @for(item of actionsItems(); track $index) {
                                <button mat-menu-item (click)="handleAction(item.actionDescription,element)">
                                    @if(item.icon) {
                                        <mat-icon>{{item.icon}}</mat-icon>
                                    }
                                    {{item.actionDescription}}
                                </button>
                              }
                                
                            </mat-menu>
                            
                        </td>
                    } @else {
                        <td mat-cell *matCellDef="let element"> {{element[colum]}} </td>
                    }
                    
                </ng-container>
                
            }
            
            
          <tr mat-header-row *matHeaderRowDef="colums()"></tr>
          <tr mat-row *matRowDef="let row; columns: colums();"></tr>
        </table>

        @if(withPaginator()) {
            <mat-paginator [pageSizeOptions]="pageSizeOptions()"
                showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        }
         
    </div>
}
