<div class="flex justify-center p-4">
    <img id="image-side" src="../../../../assets/images/side-nueva-vacante-logo.png" alt="ManPowerGroupImage" >
    
    <section class="w-full pl-4">
        <h1 class="text-4xl font-extrabold dark:text-white mb-6 text-mp-primary">Nueva vacante</h1>
        
        <form [formGroup]="newVacancyForm" class="flex gap-4">
            <div class="flex flex-col">
                
                <picker-manage-periodo (dataValue)="selectedPeriodoDate($event)"/>
    
                <mat-form-field>
                    <mat-label>Sector</mat-label>
                    <mat-select name="sector" formControlName="sector_id">
                        @for (sector of selectSector(); track sector) {
                            <mat-option [value]="sector.value">{{sector.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Fecha de asignación</mat-label>
                    <input matInput [matDatepicker]="pickerAssignment" formControlName="assignment_date">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerAssignment"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAssignment></mat-datepicker>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Lider de cuenta</mat-label>
                    <mat-select  name="lider-cuenta" formControlName="leader">
                        @for (leader of selectLeaders(); track leader) {
                            <mat-option [value]="leader.value">{{leader.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Tipo vacante</mat-label>
                    <mat-select  name="tipo-vacante" formControlName="vacancy_type">
                        @for (type of selectVacancyType(); track type) {
                            <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                
                <div class="flex justify-start mt-8 gap-4">
                    <button (click)="cancel()" mat-fab extended color="warn">
                        <mat-icon>cancel</mat-icon>
                        Cancelar
                    </button>
                    <button mat-fab extended color="accent" 
                    [disabled]="roleByClient() ? !['Consultor front', 'Consultor', 'Asistente 360'].includes(roleByClient()!.role_name) : true" (click)="addVacancy()">
                        <mat-icon>save</mat-icon>
                        Aceptar
                    </button>
                </div>
            
            </div>
    
            <div class="flex flex-col">
    
                <mat-form-field>
                    <mat-label>Nombre encargado</mat-label>
                    <input disabled matInput [value]="user()?.name">
                    <input hidden [value]="user()?.id" formControlName="responsible">
                    @if(roleByClient()){
                        <span class="bg-mp-primary p-1 rounded-xl text-sm">{{roleByClient()?.role_name}}</span>
                    }
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Nombre de la vacante</mat-label>
                    <input matInput  formControlName="name">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Cliente</mat-label>
                    <mat-select name="cliente" (selectionChange)="selectClient()" formControlName="client">
                        @for (client of selectClients(); track client) {
                            <mat-option [value]="client.value">{{client.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label># de Posiciones</mat-label>
                    <input matInput  formControlName="number_openings">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Estado de la vacante</mat-label>
                    <mat-select name="cliente" formControlName="status">
                        @for (status of selectStatus(); track status) {
                            <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
        
            </div>
        </form>
            
    </section>
    
</div>

